*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Styles  */








/* Header Starts  */




/* Header Ends  */









/* First Section Starts  */



/* First Section Ends  */









/* Seconds Section Starts  */




/* Seconds Section Ends  */








/* Third Section Starts  */






/* Third Section Ends  */







/* Footer Starts  */








/* Footer Ends  */